@import 'colors';
@import './bootstrap.scss';
@import './base.scss';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: $bp-c-navy;
  transition: 0.5s;
  padding: 3px;
}

a:hover {
  background-color: $bp-c-yellow;
}

main {
  max-width: 954px;
  margin: 0 auto;
}

.logo {
  max-width: 175px;
}

.logo:hover {
  background: none;
}

.btn-yellow {
  --bs-btn-font-weight: 600;
  --bs-btn-color: $bp-c-navy;
  --bs-btn-border-radius: 0;
}

.form-select {
  border-radius: 0;
  max-width: fit-content;
  border-color: $bp-c-navy;
}

.mw-fit {
  max-width: fit-content;
}

@media (min-width: 576px) {
  .mw-sm-fit {
    max-width: fit-content;
  }
}
